[user]
	name = Josh Elsasser
	email = josh@elsasser.ca
[branch]
#	autosetuprebase = always
[push]
	default = current
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
	d = difftool
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[core]
	editor = vim
	excludesfile = /home/josh/.gitignore_global
