[submodule "home/.zprezto"]
	path = home/.zprezto
	url = git@github.com:sorin-ionescu/prezto.git
[submodule "private"]
	path = private
	url = git@github.com:jaelsasser/dotfiles-private.git

[submodule "resources/terminal/pure"]
	path = resources/pure
	url = git@github.com:sindresorhus/pure.git
[submodule "home/.zsh/zsh-history-substring-search"]
	path = home/.zsh/history
	url = git@github.com:zsh-users/zsh-history-substring-search.git
[submodule "home/.zsh/zsh-syntax-highlighting"]
	path = home/.zsh/color
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "home/.zsh/completions"]
	path = home/.zsh/completions
	url = git@github.com:zsh-users/zsh-completions.git
