# don't show the vim-plug download dir
home/.vim/plugged
home/.vim/spell
home/.vim/netvim/.netrwhist
home/.zsh/functions
home/.zsh/history
home/.zsh/compcache/
home/.tmux/*

# we already have a base commit for Spectacle, so the file has
# been tagged as '--assume-unchanged' now that it's in the index
# res/osx/Spectacle.plist
